
/* Navigation bar Start */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}

li {
    float: left;
    font-family: Courier;
	line-height: 10px;
	font-size:30px;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li  a:hover {
    background-color: rgb(204, 228, 222);
}
/* Navigation bar End */